<div class="left-bar">
  <div class="not_operational"></div>
  <div class="header" style="display: none;">
    <h2>导航目录</h2>
  </div>
  <nav class="menu" data-ride="menu">
    <ul id="treeMenu" class="tree tree-menu" data-ride="tree" data-idx="0">
      <li data-idx="0" data-id="0" class="has-list">
        <a href="#/biji"><i class="fa fa-html5"></i>达魔笔记</a>
      </li>
      <li data-idx="1" data-id="1" class="has-list"><i class="list-toggle icon"></i>
        <a href="#/web"><i class="fa fa-html5"></i>前端开发</a>
        <ul data-idx="1">
          <!--从首页向下循化3级栏目列表：0为首页-->

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="1" data-id="1-1"><a href="/web.html#row-1"><i class="fa fa-video-camera"></i>视频教程</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="2" data-id="1-2"><a href="/web.html#row-2"><i class="fa fa-book"></i>在线学习</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="3" data-id="1-3"><a href="/web.html#row-3"><i class="fa fa-puzzle-piece"></i>碎片学习</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="4" data-id="1-4"><a href="/web.html#row-4"><i class="fa fa-wrench"></i>学习工具</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="5" data-id="1-5"><a href="/web.html#row-5"><i class="fa fa-server"></i>WEB公共库</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="6" data-id="1-6"><a href="/web.html#row-6"><i class="fa fa-users"></i>前端组织/团队</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="7" data-id="1-7"><a href="/web.html#row-7"><i class="fa fa-commenting"></i>社区/论坛</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="8" data-id="1-8"><a href="/web.html#row-8"><i class="fa fa-magnet"></i>前端框架 - UI</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="9" data-id="1-9"><a href="/web.html#row-9"><i class="fa fa-file-code-o"></i>前端框架 - JS</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="10" data-id="1-10"><a href="/web.html#row-10"><i class="fa fa-paper-plane"></i>前端插件</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="11" data-id="1-11"><a href="/web.html#row-11"><i class="fa fa-tablet"></i>移动框架</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="12" data-id="1-12"><a href="/web.html#row-12"><i class="fa fa-hourglass-2"></i>预处理器</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="13" data-id="1-13"><a href="/web.html#row-13"><i class="fa fa-font"></i>字体图标</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="14" data-id="1-14"><a href="/web.html#row-14"><i class="fa fa-cogs"></i>构建工具</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="15" data-id="1-15"><a href="/web.html#row-15"><i class="fa fa-cubes"></i>模块加载</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="16" data-id="1-16"><a href="/web.html#row-16"><i class="fa fa-briefcase"></i>包管理器</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="17" data-id="1-17"><a href="/web.html#row-17"><i class="fa fa-dashboard"></i>模板引擎</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="18" data-id="1-18"><a href="/web.html#row-18"><i class="fa fa-gamepad"></i>游戏引擎</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="19" data-id="1-19"><a href="/web.html#row-19"><i class="fa fa-sun-o"></i>代码高亮</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="20" data-id="1-20"><a href="/web.html#row-20"><i class="fa fa-github"></i>代码托管</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="21" data-id="1-21"><a href="/web.html#row-21"><i class="fa fa-wordpress"></i>博客系统</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="22" data-id="1-22"><a href="/web.html#row-22"><i class="fa fa-jsfiddle"></i>域名/服务器</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="23" data-id="1-23"><a href="/web.html#row-23"><i class="fa fa-paperclip"></i>辅助工具</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="24" data-id="1-24"><a href="/web.html#row-24"><i class="fa fa-flag"></i>站长工具</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="25" data-id="1-25"><a href="/web.html#row-25"><i class="fa fa-photo"></i>图片素材</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="26" data-id="1-26"><a href="/web.html#row-26"><i class="fa fa-thumbs-o-up"></i>精选酷站</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="27" data-id="1-27"><a href="/web.html#row-27"><i class="fa fa-globe"></i>互联网资讯</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="28" data-id="1-28"><a href="/web.html#row-28"><i class="fa fa-suitcase"></i>工作/私单</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="29" data-id="1-29"><a href="/web.html#row-29"><i class="fa fa-cloud-download"></i>应用程序</a></li>

        </ul>
      </li>

      <li data-idx="2" data-id="2" class="has-list"><i class="list-toggle icon"></i>
        <a href="#/ui"><i class="fa fa-dribbble"></i>界面设计</a>
        <ul data-idx="2">
          <!--从首页向下循化3级栏目列表：0为首页-->

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="1" data-id="2-1"><a href="/ui.html#row-1"><i class="fa fa-graduation-cap"></i>学习教程</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="2" data-id="2-2"><a href="/ui.html#row-2"><i class="fa fa-lightbulb-o"></i>灵感采集</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="3" data-id="2-3"><a href="/ui.html#row-3"><i class="fa fa-tv"></i>界面交互</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="4" data-id="2-4"><a href="/ui.html#row-4"><i class="fa fa-briefcase"></i>在线工具</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="5" data-id="2-5"><a href="/ui.html#row-5"><i class="fa fa-flag"></i>icon图标</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="6" data-id="2-6"><a href="/ui.html#row-6"><i class="fa fa-magic"></i>设计素材</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="7" data-id="2-7"><a href="/ui.html#row-7"><i class="fa fa-photo"></i>图库素材</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="8" data-id="2-8"><a href="/ui.html#row-8"><i class="fa fa-tint"></i>颜色搭配</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="9" data-id="2-9"><a href="/ui.html#row-8"><i class="fa fa-font"></i>字体字形</a></li>

        </ul>
      </li>

      <li data-idx="3" data-id="3" class="has-list"><i class="list-toggle icon"></i>
        <a href="#/cg"><i class="fa fa-youtube-play"></i>影视后期</a>
        <ul data-idx="3">
          <!--从首页向下循化3级栏目列表：0为首页-->

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="1" data-id="3-1"><a href="/cg.html#row-1"><i class="fa fa-graduation-cap"></i>学习教程</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="2" data-id="3-2"><a href="/cg.html#row-2"><i class="fa fa-magic"></i>特效动画</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="3" data-id="3-3"><a href="/cg.html#row-3"><i class="fa fa-comments"></i>资讯交流</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="4" data-id="3-4"><a href="/cg.html#row-4"><i class="fa fa-cloud-download"></i>软件插件</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="5" data-id="3-5"><a href="/cg.html#row-5"><i class="fa fa-camera-retro"></i>摄影摄像</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="6" data-id="3-6"><a href="/cg.html#row-6"><i class="fa fa-folder-open"></i>素材资源</a></li>

        </ul>
      </li>

      <li data-idx="4" data-id="4" class="has-list"><i class="list-toggle icon"></i>
        <a href="#/offlce"><i class="fa fa-keyboard-o"></i>日常办公</a>
        <ul data-idx="4">
          <!--从首页向下循化3级栏目列表：0为首页-->

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="1" data-id="4-1"><a href="/offlce.html#row-1"><i class="fa fa-fire"></i>热门推荐</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="2" data-id="4-2"><a href="/offlce.html#row-2"><i class="fa fa-dashboard"></i>效率资源</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="3" data-id="4-3"><a href="/offlce.html#row-3"><i class="fa fa-graduation-cap"></i>技能提升</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="4" data-id="4-4"><a href="/offlce.html#row-4"><i class="fa fa-wrench"></i>在线工具</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="5" data-id="4-5"><a href="/offlce.html#row-5"><i class="fa fa-users"></i>团队协作</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="6" data-id="4-6"><a href="/offlce.html#row-6"><i class="fa fa-envelope"></i>电子邮箱</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="7" data-id="4-7"><a href="/offlce.html#row-7"><i class="fa fa-book"></i>文案策划</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="8" data-id="4-8"><a href="/offlce.html#row-7"><i class="fa fa-file-word-o"></i>文档模板</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="9" data-id="4-9"><a href="/offlce.html#row-8"><i class="fa fa-desktop"></i>工作兼职</a></li>

        </ul>
      </li>

      <li data-idx="5" data-id="5" class="has-list"><i class="list-toggle icon"></i>
        <a href="#/life"><i class="fa fa-cogs"></i>日常生活</a>
        <ul data-idx="5">
          <!--从首页向下循化3级栏目列表：0为首页-->

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="1" data-id="5-1"><a href="/mechanical.html#row-1"><i class="fa fa-book"></i>学术资料</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="2" data-id="5-2"><a href="/mechanical.html#row-2"><i class="fa fa-flag"></i>行业国标</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="3" data-id="5-3"><a href="/mechanical.html#row-3"><i class="fa fa-sun-o"></i>机械模型</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="4" data-id="5-4"><a href="/mechanical.html#row-4"><i class="fa fa-hdd-o"></i>网盘资源</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="5" data-id="5-5"><a href="/mechanical.html#row-5"><i class="fa fa-search"></i>专利查询</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="6" data-id="5-6"><a href="/mechanical.html#row-6"><i class="fa fa-image"></i>图片素材</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="7" data-id="5-7"><a href="/mechanical.html#row-7"><i class="fa fa-briefcase"></i>应用软件</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="8" data-id="5-8"><a href="/mechanical.html#row-8"><i class="fa fa-coffee"></i>生活必备</a></li>

        </ul>
      </li>

      <li data-idx="6" data-id="6" class="has-list"><i class="list-toggle icon"></i>
        <a href="#/navCard"><i class="fa fa-gamepad"></i>卡片导航</a>
        <ul data-idx="6">
          <!--从首页向下循化3级栏目列表：0为首页-->

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="1" data-id="6-1"><a href="/recreation.html#row-1"><i class="fa fa-youtube-play"></i>在线视频</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="2" data-id="6-2"><a href="/recreation.html#row-2"><i class="fa fa-music"></i>在线音乐</a></li>

          <!--获取栏目的icon图标类名和栏目标题/图标类名字段在“设置管理”中添加-->
          <li data-idx="3" data-id="6-3"><a href="/recreation.html"><i class=""></i>游戏平台</a></li>

        </ul>
      </li>

    </ul>
  </nav>
</div>