<div class="main">
  <div class="container mainContent">
    <!--获取每个链接栏目的内容-->
    <section class="nav-item">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            <a href="#/web"><img src="http://webjike.com/images/nav-item_1.jpg"></a>
          </div>
          <div class="col-md-3 col-xs-12">
            <a href="#/ui"><img src="http://webjike.com/images/nav-item_2.jpg"></a>
          </div>
          <div class="col-md-3 col-xs-12">
            <a href="#/cg"><img src="http://webjike.com/images/nav-item_3.jpg"></a>
          </div>
          <div class="col-md-3 col-xs-12">
            <a href="#/offlce"><img src="http://webjike.com/images/nav-item_4.jpg"></a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--页脚-->

</div>