<div class="main">
  <div class="container mainContent">
    <!--获取每个链接栏目的内容-->

    <section class="item card-box" id="row-1">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-graduation-cap"></i>学习教程</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.doyoudo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/cbc9d2627460db98.jpg" src="http://webjike.com/upload/images/2018/4/cbc9d2627460db98.jpg"
                    style="display: inline;">doyoudo</div>
                <div class="card-desc">创意设计软件学习平台，看幽默、超清、干货的视频教程，教程内容涉及后期和设计。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.linecg.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/da26232be90e361e.jpg" src="http://webjike.com/upload/images/2018/4/da26232be90e361e.jpg"
                    style="display: inline;">直线网</div>
                <div class="card-desc">致力于成为全球规模最大、最专业、最具权威性的CG艺术在线学习和分享平台!</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.aboutcg.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/77e2e4f5807bb15d.jpg" src="http://webjike.com/upload/images/2018/4/77e2e4f5807bb15d.jpg"
                    style="display: inline;">Aboutcg</div>
                <div class="card-desc">中国最好的高端CG教程数字教育社区，包含各类CG视频教程和CG论坛答疑。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.yiihuu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/733b2f7d0bdc2b65.PNG" src="http://webjike.com/upload/images/2018/4/733b2f7d0bdc2b65.PNG"
                    style="display: inline;">翼狐网</div>
                <div class="card-desc">中国专业的数字艺术学习平台，致力于为用户提供优质的CAD、AI、AE、3dmax等软件教程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://lesterbanks.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/993a39fa552d022f.jpg" src="http://webjike.com/upload/images/2018/4/993a39fa552d022f.jpg"
                    style="display: inline;">Lesterbanks</div>
                <div class="card-desc">专为3D艺术家，动态设计师，视觉特效艺术家以及喜欢分享技巧爱好者提供的日常资源网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.eyedesyn.com/tutorials//" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/410ee8cde811801d.jpg" src="http://webjike.com/upload/images/2018/4/410ee8cde811801d.jpg"
                    style="display: inline;">Eyedesyn</div>
                <div class="card-desc">最新最热CG资源分享站点，超过100个优质C4D教程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.c4dcn.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/56266fed28c8c05.PNG" src="http://webjike.com/upload/images/2018/4/56266fed28c8c05.PNG"
                    style="display: inline;">菜鸟C4D</div>
                <div class="card-desc">菜鸟C4D交流论坛，覆盖C4D全模块资源，是国内用户必不可少的资源网站之一！</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://motionworks.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5355d7923dc93b35.png" src="http://webjike.com/upload/images/2018/4/5355d7923dc93b35.png"
                    style="display: inline;">Motionworks</div>
                <div class="card-desc">国外一个知名CG教程网站，专注与为CG爱好者提供优质AE和C4D教程视频。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.zf3d.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d5a37cc4e8a59187.gif" src="http://webjike.com/upload/images/2018/4/d5a37cc4e8a59187.gif"
                    style="display: inline;">朱峰社区</div>
                <div class="card-desc">朱峰社区是最好的3dmax和maya视频教程网站，提供大量丰富的实例视频教程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.shanse8.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/20aec8755870f901.png" src="http://webjike.com/upload/images/2018/4/20aec8755870f901.png"
                    style="display: inline;">中国专业汉化网站</div>
                <div class="card-desc">专业汉化后期常用软件及高级渲染器等外挂插件，提供CG中文教程制作、素材等资源站点。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://c4d.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/709bb1a7a3715589.jpg" src="http://webjike.com/upload/images/2018/4/709bb1a7a3715589.jpg"
                    style="display: inline;">C4D之家</div>
                <div class="card-desc">全方位C4D中文教学资源站点，免费分享C4D预设,C4D材质和3D模型等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.xuexiniu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c8dc49ae15f7e9db.jpg" src="http://webjike.com/upload/images/2018/4/c8dc49ae15f7e9db.jpg"
                    style="display: inline;">学犀牛中文网</div>
                <div class="card-desc">国内最大的Rhino软件培训交流平台，几十万犀牛软件爱好者和你一起学习犀牛。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgsub.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f4125964df094ad.png" src="http://webjike.com/upload/images/2018/4/f4125964df094ad.png"
                    style="display: inline;">CGSUB字幕网</div>
                <div class="card-desc">中文字幕分享交流平台，Lynda连载字幕视频下载，最专业的CG教程字幕站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgdream.com.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d24c8bf05f0b615b.jpg" src="http://webjike.com/upload/images/2018/4/d24c8bf05f0b615b.jpg"
                    style="display: inline;">CG织梦网</div>
                <div class="card-desc">全球最专业的CG论坛，提供了UI教程下载，并且以视频点播、直播为特色的CG动画论坛。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.fevte.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/cd5cf40971127aaf.png" src="http://webjike.com/upload/images/2018/4/cd5cf40971127aaf.png"
                    style="display: inline;">FEVTE - 飞特</div>
                <div class="card-desc">平面设计、三维设计、影视后期制作的教程和资源网站，致力于为设计学习者提供优质资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.doyoudo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/9/353211075cb1547e.png" src="http://webjike.com/upload/images/2018/9/353211075cb1547e.png"
                    style="display: inline;">doyoudo</div>
                <div class="card-desc">创意设计软件学习平台，看幽默、超清、干货的视频教程，教程内容涉及后期和设计。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-2">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-magic"></i>特效动画</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://aimozhen.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c2b11bad802eda1.png" src="http://webjike.com/upload/images/2018/4/c2b11bad802eda1.png"
                    style="display: inline;">艾墨镇</div>
                <div class="card-desc">分享精彩创意视频，展示优质独立影像。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://animetaste.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/ce8cec6a008cd8f1.png" src="http://webjike.com/upload/images/2018/4/ce8cec6a008cd8f1.png"
                    style="display: inline;">品赏艾尼墨</div>
                <div class="card-desc">全球中文唯一关注独立动画的网站，关注全球独立动画，推动国内原创动画发展。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://animapp.tw/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4d1746f76785f32d.png" src="http://webjike.com/upload/images/2018/4/4d1746f76785f32d.png"
                    style="display: inline;">AniMapp</div>
                <div class="card-desc">AniMapp动画地图，一个喜欢分享、学习、创作的动画社群！</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.wmiao.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e1c7ce8058f54f03.png" src="http://webjike.com/upload/images/2018/4/e1c7ce8058f54f03.png"
                    style="display: inline;">微妙世界</div>
                <div class="card-desc">前国内最大的影视和游戏动画师、特效师社区,目前已超过上万名动画师、特效师加入。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.aardman.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5479bd7752c76e02.jpg" src="http://webjike.com/upload/images/2018/4/5479bd7752c76e02.jpg"
                    style="display: inline;">Aardman</div>
                <div class="card-desc">英国阿德曼动画公司（Aardman Animation） ，是世界顶尖的“定格动画”制作者。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.maya09.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4326e0dca3fa7771.gif" src="http://webjike.com/upload/images/2018/4/4326e0dca3fa7771.gif"
                    style="display: inline;">Maya动画资源网</div>
                <div class="card-desc">中国乃至世界上最大的中文maya论坛，是国内屈指可数的大型高人气综合CG论坛之一。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.pixar.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e757e93d10d8d28b.jpg" src="http://webjike.com/upload/images/2018/4/e757e93d10d8d28b.jpg"
                    style="display: inline;">皮克斯</div>
                <div class="card-desc">皮克斯动画工作室，简称皮克斯，是一家专门制作电脑动画的世界知名公司。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-3">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-comments"></i>资讯交流</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.newcger.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/248e7bcba3cba0f.jpg" src="http://webjike.com/upload/images/2018/4/248e7bcba3cba0f.jpg"
                    style="display: inline;"> 新CG儿</div>
                <div class="card-desc">新CG儿致力于为广大影视后期设计师打造相互交流、分享作品与经验的互动平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.pmovie.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/869929ec4bac47ed.png" src="http://webjike.com/upload/images/2018/4/869929ec4bac47ed.png"
                    style="display: inline;">拍电影网</div>
                <div class="card-desc">集专业资讯、电子商务、SNS社区于一体的电影类专业门户网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.vmovier.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5e926eb6693c7e8d.png" src="http://webjike.com/upload/images/2018/4/5e926eb6693c7e8d.png"
                    style="display: inline;">V电影</div>
                <div class="card-desc">国内高品质短片分享平台,汇集优秀视频短片及微电影创作人，实时不断分享全球优秀视频短片，微电影等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://news.hxsd.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d38adb9c7f5a80b5.jpg" src="http://webjike.com/upload/images/2018/4/d38adb9c7f5a80b5.jpg"
                    style="display: inline;">火星资讯网</div>
                <div class="card-desc">中国艺数字术教育高端门户，中国规模庞大的CG行业信息发布平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.v5cg.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/82e48a20c06acd79.jpg" src="http://webjike.com/upload/images/2018/4/82e48a20c06acd79.jpg"
                    style="display: inline;">V5CG视界</div>
                <div class="card-desc">中国最具人气的CG互动平台、数字视觉分享平台，300万CG人聚集地。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://bbs.cgwell.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5412cb5c46478f27.png" src="http://webjike.com/upload/images/2018/4/5412cb5c46478f27.png"
                    style="display: inline;">CGwell</div>
                <div class="card-desc">最专业的游戏特效师，动画师社区。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.vfxnews.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d1aa823184e922df.png" src="http://webjike.com/upload/images/2018/4/d1aa823184e922df.png"
                    style="display: inline;">VFXnews</div>
                <div class="card-desc">影视资讯服务平台，以Nuke交流为主的综合性CG论坛，主要发布、发行原创Nuke汉化、插件等内容。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgspread.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/236f89dbb73f595f.png" src="http://webjike.com/upload/images/2018/4/236f89dbb73f595f.png"
                    style="display: inline;">CGSPREAD</div>
                <div class="card-desc">影视后期经验分享平台，主要分享Nuke教程，NUKESTUDIO教程及影视后期相关资讯。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.tvtalk.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4bfd6afb59a6a44f.jpg" src="http://webjike.com/upload/images/2018/4/4bfd6afb59a6a44f.jpg"
                    style="display: inline;">TVtalk.cn</div>
                <div class="card-desc">TVtalk.cn是影视动画设计领域的专业交流平台，为影视制作、动画设计行业提供案例研究资讯。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.xiy.tv/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f1bc8fa7283ba867.jpg" src="http://webjike.com/upload/images/2018/4/f1bc8fa7283ba867.jpg"
                    style="display: inline;">兴影网</div>
                <div class="card-desc">国内领先的影视行业信息服务平台，提供影视行业从剧本、融资、制作、等各类专业信息服务。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgvoo.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2bc63548cde38ff0.jpg" src="http://webjike.com/upload/images/2018/4/2bc63548cde38ff0.jpg"
                    style="display: inline;">CG窝网</div>
                <div class="card-desc">中国新锐数字艺术在线交流学习互动平台，聚集了中国大量专业设计师、插画师等创意人群。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-4">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-cloud-download"></i>软件插件</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.blender.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/335877b0156a932f.jpg" src="http://webjike.com/upload/images/2018/4/335877b0156a932f.jpg"
                    style="display: inline;">blender</div>
                <div class="card-desc">免费开源的多平台轻量级全能三维动画制作软件，能和3D MAX媲美，但易用性不如C4D。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://msdn.itellyou.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6313b317a505c5e6.png" src="http://webjike.com/upload/images/2018/4/6313b317a505c5e6.png"
                    style="display: inline;">MSDN我告诉你</div>
                <div class="card-desc">一个原版软件信息收录站点，该网站创办十年仍是非常简洁的风格，没有广告！</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.52pojie.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/3ef1ffb5747c3b82.jpg" src="http://webjike.com/upload/images/2018/4/3ef1ffb5747c3b82.jpg"
                    style="display: inline;">吾爱破解</div>
                <div class="card-desc">爱破解英文全称 Love Crack Group，缩写LCG吾爱破解论坛是致力于软件安全与病毒分析的非营利性技术论坛。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.zdfans.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/696788ab7c53ceb0.png" src="http://webjike.com/upload/images/2018/4/696788ab7c53ceb0.png"
                    style="display: inline;">zd423</div>
                <div class="card-desc">软件分享平台领跑者 ZDFANS.COM,更新快、去广告类软件博客领跑者、有态度的知名软件分享站!</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.qiuquan.cc/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4392e9e1369704a4.png" src="http://webjike.com/upload/images/2018/4/4392e9e1369704a4.png"
                    style="display: inline;">QiuQuan</div>
                <div class="card-desc">QiuQuan Blog 是一个精品软件分享博客,专注于软件的绿化、精简与优化。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.flighty.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/ebc4fbf309335400.png" src="http://webjike.com/upload/images/2018/4/ebc4fbf309335400.png"
                    style="display: inline;">轻狂志</div>
                <div class="card-desc">要分享少轻狂原创或整理的NSIS源码,以及软件封装方面的相关知识。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.appinn.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/ed1a8edb6ba678d0.png" src="http://webjike.com/upload/images/2018/4/ed1a8edb6ba678d0.png"
                    style="display: inline;">小众软件</div>
                <div class="card-desc">小众软件这里分享免费、小巧、实用、有趣、绿色的软件。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.repaik.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2f6f63ab04a48b3e.png" src="http://webjike.com/upload/images/2018/4/2f6f63ab04a48b3e.png"
                    style="display: inline;">睿派克技术论坛</div>
                <div class="card-desc">软件去广告论坛，破解软件限制，破解迅雷VIP，去广告，提供方法教程，以及精品软件下载，最新高清电影等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://bbs.kafan.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/8df08956166d1cce.jpg" src="http://webjike.com/upload/images/2018/4/8df08956166d1cce.jpg"
                    style="display: inline;">卡饭论坛</div>
                <div class="card-desc">是国内最著名的软件论坛、友善,、热情、开放的讨论氛围、首屈一指，打造国内最好的软件交流平台!</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.portablesoft.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9b5c2620d9469d1e.jpg" src="http://webjike.com/upload/images/2018/4/9b5c2620d9469d1e.jpg"
                    style="display: inline;">精品绿色便携软件</div>
                <div class="card-desc">追求绿色便携理念，打造清爽干净系统！</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.iplaysoft.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c4a6327de47bcb6e.jpg" src="http://webjike.com/upload/images/2018/4/c4a6327de47bcb6e.jpg"
                    style="display: inline;">异次元软件世界</div>
                <div class="card-desc">很有特色的软件博客！推荐精选实用的软件，并提供相当详细且精美的图文评测。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.dayanzai.me/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/8715517a8eb33b54.png" src="http://webjike.com/upload/images/2018/4/8715517a8eb33b54.png"
                    style="display: inline;">大眼仔旭</div>
                <div class="card-desc">大眼仔旭博客提供各类PC软件、绿色软件、手机游戏、安卓APP等，坚持每天更新大量软件及视频教程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.ttrar.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d6405076489a0fa4.png" src="http://webjike.com/upload/images/2018/4/d6405076489a0fa4.png"
                    style="display: inline;">天天软件</div>
                <div class="card-desc">天天下载是个免费软件下载网站，纯净用户体验,没有垃圾广告的单机游戏和软件下载基地!</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-5">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-camera-retro"></i>摄影摄像</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.fengniao.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e51814c4c6fbce39.png" src="http://webjike.com/upload/images/2018/4/e51814c4c6fbce39.png"
                    style="display: inline;">蜂鸟网</div>
                <div class="card-desc">中国专业影像门户，摄影爱好者分享摄影技巧和作品的网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://720yun.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/33c1283d1e009d48.png" src="http://webjike.com/upload/images/2018/4/33c1283d1e009d48.png"
                    style="display: inline;">720云全景</div>
                <div class="card-desc">国内领先的全景内容平台，全景上传、分享、展示、漫游,以及创作者互动交流网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.photofans.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/840952750319fe19.png" src="http://webjike.com/upload/images/2018/4/840952750319fe19.png"
                    style="display: inline;">佳友在线</div>
                <div class="card-desc">中国摄影门户网站，提供全面的摄影资讯、器材讨论，作品交流等服务。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.dpnet.com.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/502420d6e9084fa.jpg" src="http://webjike.com/upload/images/2018/4/502420d6e9084fa.jpg"
                    style="display: inline;">迪派</div>
                <div class="card-desc">专业的数码影像资讯网和中文商务网，内容涵盖了行业资讯、产品测评、影像欣赏等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.rxsy.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/db5469659c30d860.jpg" src="http://webjike.com/upload/images/2018/4/db5469659c30d860.jpg"
                    style="display: inline;">人像摄影</div>
                <div class="card-desc">人像摄影杂志官方网站，展示国内外优秀摄影作品，摄影技巧深度分享，以及摄影器材的资讯内容。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://fotomen.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d77515d893cca4ab.jpg" src="http://webjike.com/upload/images/2018/4/d77515d893cca4ab.jpg"
                    style="display: inline;">摄影之友</div>
                <div class="card-desc">为广大摄影爱好者提供的摄影交流平台，注册成网站会员后可以发布摄影照片。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://tuchong.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/8a9a5c1b03edc857.jpg" src="http://webjike.com/upload/images/2018/4/8a9a5c1b03edc857.jpg"
                    style="display: inline;">图虫网</div>
                <div class="card-desc">图虫网是中国最专业的web2.0摄影社区,下属纪实、风光、人像等几十个专业摄影社区。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.ccsph.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9a56563be062ee86.jpg" src="http://webjike.com/upload/images/2018/4/9a56563be062ee86.jpg"
                    style="display: inline;">现代摄影网</div>
                <div class="card-desc">致力于深度摄影，注重摄影教育，传播摄影精神的专业门户网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.zglyhp.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/3a4f236b81807de3.png" src="http://webjike.com/upload/images/2018/4/3a4f236b81807de3.png"
                    style="display: inline;">中国航拍网</div>
                <div class="card-desc">中国旅游航拍业内规模大、信誉高、信息全、范围广的专业型行业门户网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://timelapser.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/cb4a3f03f0024b32.png" src="http://webjike.com/upload/images/2018/4/cb4a3f03f0024b32.png"
                    style="display: inline;">Timelapse中国</div>
                <div class="card-desc">全球第一个专业致力于延时摄影，致力于迷人的延时摄影技术的中文网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.camera-man.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9274d9608c69d4d4.jpg" src="http://webjike.com/upload/images/2018/4/9274d9608c69d4d4.jpg"
                    style="display: inline;">摄像人网</div>
                <div class="card-desc">摄像行业从业者的专业社区，你可以在摄像论坛畅所欲言、可以在人脉圈拓展人脉、可以在摄像百科学习知识。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://photo.poco.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b608d8e4f7411210.jpg" src="http://webjike.com/upload/images/2018/4/b608d8e4f7411210.jpg"
                    style="display: inline;">Poco摄影社区</div>
                <div class="card-desc">中国领先时尚的图片分享平台，最大的以原创图片为核心的分享社区，汇聚百万摄影与视觉爱好者。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.zsheying.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b76e0d4d33a4df.jpg" src="http://webjike.com/upload/images/2018/4/b76e0d4d33a4df.jpg"
                    style="display: inline;">中摄影</div>
                <div class="card-desc">中国优秀摄影论坛，汇聚众多摄影爱好者，摄影论坛定期组织各类型摄影活动，包括人像摄影,写真摄影等活动。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.jingnei.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6eca63a072eb7c3b.png" src="http://webjike.com/upload/images/2018/4/6eca63a072eb7c3b.png"
                    style="display: inline;">京内网</div>
                <div class="card-desc">机摄影第一媒体，知名摄影网站，北京城内知名的摄影交流交友网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.unpcn.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6f9b7a7c6c9e74f1.jpg" src="http://webjike.com/upload/images/2018/4/6f9b7a7c6c9e74f1.jpg"
                    style="display: inline;">国摄网</div>
                <div class="card-desc">国家摄影是国内最专业的摄影门户网站，搭建了最专业的摄影论坛,，是摄影师及摄影爱好者分享摄影作品平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.g-photography.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9991514b52864686.png" src="http://webjike.com/upload/images/2018/4/9991514b52864686.png"
                    style="display: inline;">全球摄影网</div>
                <div class="card-desc">一家全球性的专业摄影网站，集学术性、艺术性、娱乐性于一体，致力于摄影文化事业的开发。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.youxiake.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/7e43feacb6c55348.jpg" src="http://webjike.com/upload/images/2018/4/7e43feacb6c55348.jpg"
                    style="display: inline;">游侠客</div>
                <div class="card-desc">国内最大的摄影旅游公司，以擅长策划和组织摄影旅游活动闻名，拥有105万注册会员。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-6">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-folder-open"></i>素材资源</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgrealm.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/dd031ee8f449c4b9.png" src="http://webjike.com/upload/images/2018/4/dd031ee8f449c4b9.png"
                    style="display: inline;">CG王国</div>
                <div class="card-desc">CG王国3D模型库，无需注册！所有3D模型免费下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.moxingyun.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/20628dec0e8173f9.jpg" src="http://webjike.com/upload/images/2018/4/20628dec0e8173f9.jpg"
                    style="display: inline;">模型云</div>
                <div class="card-desc">模型云是全球最大3D展厅模型分享交流平台，中国原创展厅3D模型下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgtsj.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4b5646c87c2d8a07.png" src="http://webjike.com/upload/images/2018/4/4b5646c87c2d8a07.png"
                    style="display: inline;">MAYA模型网</div>
                <div class="card-desc">本站主要提供Maya模型的免费下载，Maya模型非常多，且都是免费的。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.storyboardworld.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2909e517c6c4da3b.png" src="http://webjike.com/upload/images/2018/4/2909e517c6c4da3b.png"
                    style="display: inline;">分镜世界</div>
                <div class="card-desc">专注于分镜头交流学习以及分镜资源的收集分享，关注于ACG创作前期。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.lifeofvids.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/53ce18151af6f7f5.jpg" src="http://webjike.com/upload/images/2018/4/53ce18151af6f7f5.jpg"
                    style="display: inline;">Life of vids</div>
                <div class="card-desc">一个提供免费的视频素材和摄影作品网站，由众多摄影师摄影发布，无任何限制。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://videos.pexels.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/3ce1cdc4441a314f.jpg" src="http://webjike.com/upload/images/2018/4/3ce1cdc4441a314f.jpg"
                    style="display: inline;">PEXELS VIDEOS</div>
                <div class="card-desc">免费的高清视频及图片资源站点，网站上资源可以免费用于商业用途。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.splashbase.co/images?videos=true" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b19f5cc7d3bab515.jpg" src="http://webjike.com/upload/images/2018/4/b19f5cc7d3bab515.jpg"
                    style="display: inline;">Splashbase</div>
                <div class="card-desc">免费高清的视频素材，同时该网站还是一个免费高清的照片分享网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://mazwai.com/#/grid" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4fcc4183176e2477.jpg" src="http://webjike.com/upload/images/2018/4/4fcc4183176e2477.jpg"
                    style="display: inline;">Mazwai</div>
                <div class="card-desc">免费高清视频素材，使用需要署作者名，全球顶级高清摄影图片网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://thestocks.im/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6efda3ad22dd337f.png" src="http://webjike.com/upload/images/2018/4/6efda3ad22dd337f.png"
                    style="display: inline;">thestocks</div>
                <div class="card-desc">提供免费的照片和视频，最好的免费照片、视频、音频、图标、字体等素材资源网站。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://free3d.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f714a75b129b4ee5.jpg" src="http://webjike.com/upload/images/2018/4/f714a75b129b4ee5.jpg"
                    style="display: inline;">TF3DM</div>
                <div class="card-desc">免费的三维模型下载网站，你可以分享你的免费3D资源或下载任何你喜欢的。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://freesound.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a6f37fa22796dd9f.jpg" src="http://webjike.com/upload/images/2018/4/a6f37fa22796dd9f.jpg"
                    style="display: inline;">Freesound</div>
                <div class="card-desc">注册后可免费下载的音效库，由世界各地的用户上传，数量最多。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.kvraudio.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d3bd9f514cc2d2f7.png" src="http://webjike.com/upload/images/2018/4/d3bd9f514cc2d2f7.png"
                    style="display: inline;">Kvraudio</div>
                <div class="card-desc">最大的音乐制作软件资讯发布平台、交流社区，主要围绕流行的音频插件格式和相关的话题展开讨论。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://forum.image-line.com/viewtopic.php?f=1100&amp;t=36569" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9e9c01d6fc8699ef.png" src="http://webjike.com/upload/images/2018/4/9e9c01d6fc8699ef.png"
                    style="display: inline;">Image－Line</div>
                <div class="card-desc">FL官方网站提供的免费采样、循环下载列表，当资源摆在我面前，我才明白为什么学英文。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://bedroomproducersblog.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/54a90683700bc207.jpg" src="http://webjike.com/upload/images/2018/4/54a90683700bc207.jpg"
                    style="display: inline;">Bedroom Producers Blog</div>
                <div class="card-desc">丰富的免费插件、音源、软件资讯网站，整理了各种音乐领域的最佳免费软件。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.musicradar.com/news/tech/free-music-samples-download-loops-hits-and-multis-627820"
                class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4edf2cd3794f6a0f.png" src="http://webjike.com/upload/images/2018/4/4edf2cd3794f6a0f.png"
                    style="display: inline;">musicrader</div>
                <div class="card-desc">多达56000多个免费采样，很适合做电子舞曲，有阵子我开电脑就是为了下载这个。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.findsounds.com/typesChinese.html" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a0179ccb7e53f60f.jpg" src="http://webjike.com/upload/images/2018/4/a0179ccb7e53f60f.jpg"
                    style="display: inline;">FindSounds</div>
                <div class="card-desc">音效搜寻，可以用来搜索并下载用于制作视频或者其它各种用途的声音素材。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://ae.sucaifengbao.com/aemoban/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/cce84ed1bc92d1df.jpg" src="http://webjike.com/upload/images/2018/4/cce84ed1bc92d1df.jpg"
                    style="display: inline;">素材风暴</div>
                <div class="card-desc">中国图片素材、AE模板、PS素材、免费下载网站，为设计师朋友提供最新最全面的免费素材。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.newcger.com/aemoban/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/ba5deb2450f587f7.jpg" src="http://webjike.com/upload/images/2018/4/ba5deb2450f587f7.jpg"
                    style="display: inline;"> 新CG儿 - 素材下载</div>
                <div class="card-desc">数字视觉分享平台，AE模板、视频素材、音效资源免费下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.gfxcamp.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2fc55617e65094ff.png" src="http://webjike.com/upload/images/2018/4/2fc55617e65094ff.png"
                    style="display: inline;">GfxCamp</div>
                <div class="card-desc">最新最热CG资源分享，视频素材、AE模板、CG教程、插件、软件下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgahz.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/ec7f0b3152229ebf.gif" src="http://webjike.com/upload/images/2018/4/ec7f0b3152229ebf.gif"
                    style="display: inline;">CG爱好者</div>
                <div class="card-desc">致力于分享ae模板免费下载，3D模型下载，影视后期制作素材，音乐素材等CG资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgchina.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c90b85a4ba60d12d.jpg" src="http://webjike.com/upload/images/2018/4/c90b85a4ba60d12d.jpg"
                    style="display: inline;">Cgchina</div>
                <div class="card-desc">CG中国免费素材站，致力于为广大CG爱好者和从业人员提供免费高清实拍素材，配乐素材等资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.shij001.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2aaf48dad791a83d.png" src="http://webjike.com/upload/images/2018/4/2aaf48dad791a83d.png"
                    style="display: inline;">视崛</div>
                <div class="card-desc">为全球用户24小时提供免费AE模板、设计元素下载，内容覆盖婚庆模板、电子相册模板等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.xstockvideo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c1d5139df90e6e6b.png" src="http://webjike.com/upload/images/2018/4/c1d5139df90e6e6b.png"
                    style="display: inline;">StockVideo</div>
                <div class="card-desc">免费视频下载资源网站，数以百计的免费无版权片段剪辑视频等资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.cgown.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/38c9bce4a3ddd9e5.png" src="http://webjike.com/upload/images/2018/4/38c9bce4a3ddd9e5.png"
                    style="display: inline;">CG资源网</div>
                <div class="card-desc">CG资源分享平台，内容涵盖：AfterEffects资源、CINEMA 4D资源、Premiere、Photoshop等资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.adobeae.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b3f7cff5cf8ebbd7.png" src="http://webjike.com/upload/images/2018/4/b3f7cff5cf8ebbd7.png"
                    style="display: inline;">AE模板精品站</div>
                <div class="card-desc">AE资源分享站点，全面分享优秀精品AE模板、LOGO模板、片头模板、图形模板等资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.motionelements.com/zh-hant/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/707b8631e22eb327.png" src="http://webjike.com/upload/images/2018/4/707b8631e22eb327.png"
                    style="display: inline;">MotionElement</div>
                <div class="card-desc">亚洲最大的影音素材免版权买卖平台，提供全世界媒体素材给你。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.lookae.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/125381ba1e7ae46a.png" src="http://webjike.com/upload/images/2018/4/125381ba1e7ae46a.png"
                    style="display: inline;">LOOKAE</div>
                <div class="card-desc">大众脸影视后期特效官网，后期技术交流平台，网站提供了很多后期资源下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://c4dsky.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/7d65ce7a601aa02d.png" src="http://webjike.com/upload/images/2018/4/7d65ce7a601aa02d.png"
                    style="display: inline;">C4DSKY</div>
                <div class="card-desc">最新最全影视CG资源分享站，C4D教程、AE模板、Cinema 4D、中文教程等资源下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cgzyw.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c090cb1a8aaceebd.png" src="http://webjike.com/upload/images/2018/4/c090cb1a8aaceebd.png"
                    style="display: inline;">CG资源站</div>
                <div class="card-desc">致力于国内最新最全的影视CG资源分享交流，网站资源你非常丰富。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.videvo.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5bd88bc0d4d512b5.png" src="http://webjike.com/upload/images/2018/4/5bd88bc0d4d512b5.png"
                    style="display: inline;">Videvo</div>
                <div class="card-desc">Videvo网是一个提供完全免费的视频录像和动态动画视频的网站，和应用于任何商业项目。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.vidsplay.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e5a24e5d8b0fbd35.png" src="http://webjike.com/upload/images/2018/4/e5a24e5d8b0fbd35.png"
                    style="display: inline;">Vidsplay</div>
                <div class="card-desc">VidsPlay网站是一个提供完全免费的高清视频素材资源，每周都会更新。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.93cg.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b3ae1966505ed335.png" src="http://webjike.com/upload/images/2018/4/b3ae1966505ed335.png"
                    style="display: inline;">93CG网</div>
                <div class="card-desc">93CG网成立于2016年7月，致力提供大量最新最全国内外AE模板等资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.shareae.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/21057c5ce2d8d4ad.png" src="http://webjike.com/upload/images/2018/4/21057c5ce2d8d4ad.png"
                    style="display: inline;">Shareae</div>
                <div class="card-desc">一个AE模板以及CG资源站，集AE模板、AE教程以及众多CG素材、音乐等其他内容于一体。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://footagecrate.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b495fc278d43bc55.png" src="http://webjike.com/upload/images/2018/4/b495fc278d43bc55.png"
                    style="display: inline;">FootageCrate</div>
                <div class="card-desc">一家专门为独立制片人和创意工作提供的免费音视频素材站点。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.ignitemotion.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a9f6d77b2b97be1d.png" src="http://webjike.com/upload/images/2018/4/a9f6d77b2b97be1d.png"
                    style="display: inline;">Ignitemotion</div>
                <div class="card-desc">免费无版权视频素材网站，视频质量很高，且全部可用于商业用途。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.aigei.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9e0bd3727047da4f.png" src="http://webjike.com/upload/images/2018/4/9e0bd3727047da4f.png"
                    style="display: inline;">爱给网</div>
                <div class="card-desc">中国最大的游戏和影视素材下载网站，免费提供游戏制作和影视后期制作中使用的各种素材资源下载。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-7">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-bed"></i>学习论坛</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

          </div>
        </div>
      </div>
    </section>

  </div>
  <!--页脚-->
</div>