<div class="main">
  <div class="container mainContent">
    <!--获取每个链接栏目的内容-->

    <section class="item card-box" id="row-1">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-fire"></i>热门推荐</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://wx.qq.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/dcec7c1de35594e9.jpg" src="http://webjike.com/upload/images/2018/4/dcec7c1de35594e9.jpg"
                    style="display: inline;">网页版微信</div>
                <div class="card-desc">微信网页版是腾讯公司于2011年1月21日推出的一个为智能终端提供即时通讯服务的免费应用程序。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.yinxiang.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d4660568a612ee3d.jpg" src="http://webjike.com/upload/images/2018/4/d4660568a612ee3d.jpg"
                    style="display: inline;">印象笔记</div>
                <div class="card-desc">一款多功能笔记类应用，跨平台的印象笔记将帮你随时随地快速获取和同步笔记信息。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://dict.youdao.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/c75df950d5c248ec.jpg" src="http://webjike.com/upload/images/2018/4/c75df950d5c248ec.jpg"
                    style="display: inline;">有道词典</div>
                <div class="card-desc">网易旗下产品，全球首款基于搜索引擎技术的全能免费语言翻译软件。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://pan.baidu.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5d7188b7eeb04d12.jpg" src="http://webjike.com/upload/images/2018/4/5d7188b7eeb04d12.jpg"
                    style="display: inline;">百度网盘</div>
                <div class="card-desc">百度推出的一项面向个人、企业的云存储服务，中国最大最稳定的网盘平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://translate.google.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/fb1b18750d817c1e.png" src="http://webjike.com/upload/images/2018/4/fb1b18750d817c1e.png"
                    style="display: inline;">Google 翻译</div>
                <div class="card-desc">可提供 80 种语言之间的即时翻译，支持任意两种语言之间的字词、句子和网页翻译。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-2">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-dashboard"></i>效率资源</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://index.baidu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f8d9618806bee006.jpg" src="http://webjike.com/upload/images/2018/4/f8d9618806bee006.jpg"
                    style="display: inline;">百度指数</div>
                <div class="card-desc">百度指数是以百度海量网民行为数据为基础的数据分享平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://top.baidu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/818ef6a56c120f16.png" src="http://webjike.com/upload/images/2018/4/818ef6a56c120f16.png"
                    style="display: inline;">百度搜索风云榜</div>
                <div class="card-desc">以数亿网民的搜索行为作为数据基础，建立权威的关键词排行榜与分类热点门户。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://data.weibo.com/datacenter/recommendapp" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/befd6dfca04f867e.png" src="http://webjike.com/upload/images/2018/4/befd6dfca04f867e.png"
                    style="display: inline;">微博数据中心</div>
                <div class="card-desc">汇集新浪微博数据中心分析类、榜单类、内容类、活动工具类等不同类型应用产品。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://shu.taobao.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/acae3ecaf40cfaee.png" src="http://webjike.com/upload/images/2018/4/acae3ecaf40cfaee.png"
                    style="display: inline;">淘宝指数</div>
                <div class="card-desc">以阿里电商数据为核心，面向媒体、市场研究员以及社会大众提供的社会化大数据展示平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.office.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e936347d3ee09bb6.jpg" src="http://webjike.com/upload/images/2018/4/e936347d3ee09bb6.jpg"
                    style="display: inline;">Office 365</div>
                <div class="card-desc">微软带给所有企业最佳生产力和高效协同的高端云服务，是微软公司基于云平台的应用套件。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://note.youdao.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f29356bf386bc852.jpg" src="http://webjike.com/upload/images/2018/4/f29356bf386bc852.jpg"
                    style="display: inline;">有道云笔记</div>
                <div class="card-desc">网易出品的笔记软件，用户可以随时随地对线上资料进行编辑、分享以及协同。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://maxiang.io/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/32df8e481ff4236e.jpg" src="http://webjike.com/upload/images/2018/4/32df8e481ff4236e.jpg"
                    style="display: inline;">马克飞象</div>
                <div class="card-desc">马克飞象是一款专为印象笔记打造的Markdown编辑器，配合印象笔记强大的存储和同步功能。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.onenote.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6d1da3277ed31186.png" src="http://webjike.com/upload/images/2018/4/6d1da3277ed31186.png"
                    style="display: inline;">OneNote</div>
                <div class="card-desc">微软推出的云笔记本，是个收集资料的利器，你可以将所有自己觉得有用的信息都往里面丢。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.iciba.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9b8e201e7ed98216.jpg" src="http://webjike.com/upload/images/2018/4/9b8e201e7ed98216.jpg"
                    style="display: inline;">爱词霸</div>
                <div class="card-desc">爱词霸提供在线翻译，英语学习，属于金山公司，相当于网络版金山词霸。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://fanyi.baidu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b3ae8ca720389266.jpg" src="http://webjike.com/upload/images/2018/4/b3ae8ca720389266.jpg"
                    style="display: inline;">百度翻译</div>
                <div class="card-desc">提供即时免费的多语种文本翻译和网页翻译服务,支持中、英、日、韩、等28种热门语言互译。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.weiyun.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5f030b0fdf1b6b8e.jpg" src="http://webjike.com/upload/images/2018/4/5f030b0fdf1b6b8e.jpg"
                    style="display: inline;">微云</div>
                <div class="card-desc">腾讯公司为用户精心打造的一项智能云服务，通过微云方便地在手机和电脑之间同步文件等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://vdisk.weibo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/66b7ef7177c5950e.jpg" src="http://webjike.com/upload/images/2018/4/66b7ef7177c5950e.jpg"
                    style="display: inline;">微盘</div>
                <div class="card-desc">新浪微盘是一款云存储网盘及新浪微博的官方网盘，可用来存储文件，还可分享文件到微博。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.turnitin.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9a4d41ac5eccfc84.jpg" src="http://webjike.com/upload/images/2018/4/9a4d41ac5eccfc84.jpg"
                    style="display: inline;">Turnitin</div>
                <div class="card-desc">Turnitin是国际上最权威的英文论文检测系统，适合于要到国际期刊上发表论文检测等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://shimo.im/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1858621cde1d7522.jpg" src="http://webjike.com/upload/images/2018/4/1858621cde1d7522.jpg"
                    style="display: inline;">石墨文档</div>
                <div class="card-desc">一款轻便、简洁的在线协作文档工具，可以实现多人同时在同一文档上进行编辑和实时讨论。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://naotu.baidu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/efde61c037fdd8a3.png" src="http://webjike.com/upload/images/2018/4/efde61c037fdd8a3.png"
                    style="display: inline;">百度脑图</div>
                <div class="card-desc">便捷的脑图编辑工具 - 控制创意，如此简单，让您在线上直接创建、保存并分享你的思路。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-3">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-graduation-cap"></i>技能提升</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.icourse163.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/72becf21c11c0b0b.png" src="http://webjike.com/upload/images/2018/4/72becf21c11c0b0b.png"
                    style="display: inline;">中国大学MOOC</div>
                <div class="card-desc">爱课程网携手网易云课堂打造的在线学习平台，每一个有提升愿望的人，都可以在这里学习中国优质的大学课程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://oeasy.org/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1a3ee4c7351f570b.jpg" src="http://webjike.com/upload/images/2018/4/1a3ee4c7351f570b.jpg"
                    style="display: inline;">Oeasy系列</div>
                <div class="card-desc">Oeasy系列网络教程，以“oeasy就是给想学而没钱学的人做的”理念，与大家分享经验。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.bilibili.com/video/tech-wild-1.html" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2ff18891904cb2cb.jpg" src="http://webjike.com/upload/images/2018/4/2ff18891904cb2cb.jpg"
                    style="display: inline;">野生技术协会</div>
                <div class="card-desc">B站免费教程学习栏目“野生技术协会”，展示一定改装/创作能力的视频。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.yiihuu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/3d132b585d7ff62b.png" src="http://webjike.com/upload/images/2018/4/3d132b585d7ff62b.png"
                    style="display: inline;">翼狐网</div>
                <div class="card-desc">中国专业的数字艺术学习平台，致力于为用户提供优质的CAD、CDR、AE、3dmax等软件教程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.miguxue.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/291e39a06ed44b3b.png" src="http://webjike.com/upload/images/2018/4/291e39a06ed44b3b.png"
                    style="display: inline;">咪咕学堂</div>
                <div class="card-desc">一站式贴心学习服务平台，面向学生、职业教育类学习群体，提供海量优质学习资源，包括直播课程、视频课程。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://study.163.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d18e1d87082d0a13.png" src="http://webjike.com/upload/images/2018/4/d18e1d87082d0a13.png"
                    style="display: inline;">网易云课堂</div>
                <div class="card-desc">领先的实用技能学习平台，网易云旗下品牌，内容非常丰富，免费教程也挺多的。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://chuanke.baidu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5febfa4c1834fd33.jpg" src="http://webjike.com/upload/images/2018/4/5febfa4c1834fd33.jpg"
                    style="display: inline;">百度传课</div>
                <div class="card-desc">百度推出的教育领域新兴在线教育平台，免费视频教程很丰富，基本都是免费的。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.51zxw.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6d0d7f5ca95830c3.png" src="http://webjike.com/upload/images/2018/4/6d0d7f5ca95830c3.png"
                    style="display: inline;">我要自学网</div>
                <div class="card-desc">免费视频教程平台，提供全方位软件学习，涉及的行业很多，资源非常丰富。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-4">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-wrench"></i>在线工具</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.pdfdo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/5ae96bc017db6ca.png" src="http://webjike.com/upload/images/2018/4/5ae96bc017db6ca.png"
                    style="display: inline;">PDFdo</div>
                <div class="card-desc">PDFdo提供全套的PDF转换操作，一站式服务，在线转换PDF永久免费。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://convertio.co/zh/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/fc4a99a8bcfea292.png" src="http://webjike.com/upload/images/2018/4/fc4a99a8bcfea292.png"
                    style="display: inline;">Convertio</div>
                <div class="card-desc">在线转换文件的简单工具，支持超过283种不同的文档、图像、电子表格、电子书、文档、演示文稿、音频和视频格式。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://cn.office-converter.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/8c0a6635938092ea.png" src="http://webjike.com/upload/images/2018/4/8c0a6635938092ea.png"
                    style="display: inline;">Office Converter</div>
                <div class="card-desc">世界上最大的在线文件转换工具集合网站，你能免费在线转换包括视频、音频、图形、文档和压缩等服务。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.alltoall.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b6d331949a472642.jpg" src="http://webjike.com/upload/images/2018/4/b6d331949a472642.jpg"
                    style="display: inline;">ALL TO ALL 在线文件转换</div>
                <div class="card-desc">免费的在线格式转换工具，国内最全类型的在线文件转换平台 免费、快速，无须下载安装任何软件。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://24mail.chacuo.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6d175cd509de68ea.png" src="http://webjike.com/upload/images/2018/4/6d175cd509de68ea.png"
                    style="display: inline;">临时邮箱</div>
                <div class="card-desc">在线生成临时邮箱网站、开通邮箱最长支持24小时，支持邮件转发，自动刷新!</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.txttool.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/406a050876b65cae.png" src="http://webjike.com/upload/images/2018/4/406a050876b65cae.png"
                    style="display: inline;">TXTTOOL</div>
                <div class="card-desc">TXT文本在线处理工具，功能非常强大，支持内容替换、过滤、文字排版等操作。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.mikecrm.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/babc3bb215f9b7c8.jpg" src="http://webjike.com/upload/images/2018/4/babc3bb215f9b7c8.jpg"
                    style="display: inline;">麦客表单</div>
                <div class="card-desc">麦客CRM是一款在线表单制作工具，同时也是强大的客户信息处理和关系管理系统。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.hiwenku.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e1818cebded34f18.png" src="http://webjike.com/upload/images/2018/4/e1818cebded34f18.png"
                    style="display: inline;">嗨文库</div>
                <div class="card-desc">百度文库文档下载工具，能根据百度文库文档地址提取到文档内容并形成.docx的文档，告别手动复制的烦恼。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://zhitu.isux.us/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e682956f5006c6e.png" src="http://webjike.com/upload/images/2018/4/e682956f5006c6e.png"
                    style="display: inline;">智图</div>
                <div class="card-desc">图片压缩在线工具，为图片智能选择合适的图片格式，支持在线jpg图片压缩，png图片压缩。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.picdiet.com/zh-cn" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6ef88d1938cbfc59.png" src="http://webjike.com/upload/images/2018/4/6ef88d1938cbfc59.png"
                    style="display: inline;">Picdiet</div>
                <div class="card-desc">在线批量压缩图片神器，不需要后端服务器或者API的支持，仅通过你的浏览器来压缩图片大小。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://jinshuju.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/31aaf98f9fbddc79.jpg" src="http://webjike.com/upload/images/2018/4/31aaf98f9fbddc79.jpg"
                    style="display: inline;">金数据</div>
                <div class="card-desc">一款免费的表单设计和数据搜集工具，可用来设计表单，制作在线问卷调查等数据资料，获得产品反馈等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.processon.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6e97d3d79f7a604a.png" src="http://webjike.com/upload/images/2018/4/6e97d3d79f7a604a.png"
                    style="display: inline;">ProcessOn</div>
                <div class="card-desc">ProcessOn是一个方便易用、免费高效的在线作图工具，运用它可以免费制作多种图。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://huaban.com/about/goodies/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/88dc363a15d31642.jpg" src="http://webjike.com/upload/images/2018/4/88dc363a15d31642.jpg"
                    style="display: inline;">花瓣采集工具</div>
                <div class="card-desc">你可以方便地保存任意网站上的图片、视频和截图。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.wenjuan.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/bc99ec00a66a8082.jpg" src="http://webjike.com/upload/images/2018/4/bc99ec00a66a8082.jpg"
                    style="display: inline;">问卷网</div>
                <div class="card-desc">网络调查平台、问卷调查、市场调查、网络调查、表单设计。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.wjx.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/22c2a2474cd2b48a.jpg" src="http://webjike.com/upload/images/2018/4/22c2a2474cd2b48a.jpg"
                    style="display: inline;">问卷星</div>
                <div class="card-desc">问卷星提供30多种题型，强大的统计分析功能，统计报告和原始答卷可免费下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://tinypng.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/35e3b40398dc5a68.jpg" src="http://webjike.com/upload/images/2018/4/35e3b40398dc5a68.jpg"
                    style="display: inline;">TinyPNG</div>
                <div class="card-desc">图片压缩网站，支持小于5M的jpg、png图片的压缩。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://smallpdf.com/cn" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d0de0f540fe0a9c8.png" src="http://webjike.com/upload/images/2018/4/d0de0f540fe0a9c8.png"
                    style="display: inline;">Smallpdf</div>
                <div class="card-desc">在线PDF压缩，转换格式的好工具（压缩率超高）。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.polaxiong.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/72c267138f889315.png" src="http://webjike.com/upload/images/2018/4/72c267138f889315.png"
                    style="display: inline;">泼辣修图</div>
                <div class="card-desc">一款免费的在线图像处理软件，只要页面加载完成，导出导入图片不再受网络影响</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cuobiezi.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/5/f09bd776ef414c07.jpg" src="http://webjike.com/upload/images/2018/5/f09bd776ef414c07.jpg"
                    style="display: inline;">错别字检测工具</div>
                <div class="card-desc">日常用语、成语、五笔、拼音、OCR等输入方式导致的错别字检查。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.cuobiezi.net/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/5/f09bd776ef414c07.jpg" src="http://webjike.com/upload/images/2018/5/f09bd776ef414c07.jpg"
                    style="display: inline;">错别字检测工具</div>
                <div class="card-desc">日常用语、成语、五笔、拼音、OCR等输入方式导致的错别字检查。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://qrdream.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/5/55da1f6e2ea9568f.png" src="http://webjike.com/upload/images/2018/5/55da1f6e2ea9568f.png"
                    style="display: inline;">维码梦工厂</div>
                <div class="card-desc">在线艺术二维码生成器</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://showmore.com/zh/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/5/5d2659ba3fec3601.png" src="http://webjike.com/upload/images/2018/5/5d2659ba3fec3601.png"
                    style="display: inline;"> ShowMore</div>
                <div class="card-desc">一款免费在线录屏工具，可同时录制屏幕，摄像头，声音等，录制过程中可以实时编辑视频，录制完可以上传到云端存储，一键分享给好友。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-5">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-users"></i>团队协作</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.teambition.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9f41b3306d26bae6.jpg" src="http://webjike.com/upload/images/2018/4/9f41b3306d26bae6.jpg"
                    style="display: inline;">Teambition</div>
                <div class="card-desc">国内团队协作工具的创导者，通过帮助团队轻松共享和讨论工作中的任务、文件、分享、日程等内容。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.atlassian.com/software/jira" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6696c6fe7a00561e.png" src="http://webjike.com/upload/images/2018/4/6696c6fe7a00561e.png"
                    style="display: inline;">Jira</div>
                <div class="card-desc">一个项目与事务跟踪工具，被广泛应用于缺陷跟踪、客户服务、需求收集等工作领域。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://trello.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4b6e909e2a5b90de.png" src="http://webjike.com/upload/images/2018/4/4b6e909e2a5b90de.png"
                    style="display: inline;">Trello</div>
                <div class="card-desc">一个团队协作工具，可以方便追踪项目进度，它能够跟踪一切，大至图片，小至记录细节。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://asana.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4a195dbc4b4d2d74.jpg" src="http://webjike.com/upload/images/2018/4/4a195dbc4b4d2d74.jpg"
                    style="display: inline;">Asana</div>
                <div class="card-desc">团队任务管理平台，是一个集邮件、办公、文档、沟通于一体的任务管理平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://basecamp.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1f5c0078a7d9eb6e.png" src="http://webjike.com/upload/images/2018/4/1f5c0078a7d9eb6e.png"
                    style="display: inline;">Basecamp</div>
                <div class="card-desc">一款非常流行的基于云服务的项目管理软件，以简单易用和颠覆性的创新而出名。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.dingtalk.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9ad4202727b8f794.png" src="http://webjike.com/upload/images/2018/4/9ad4202727b8f794.png"
                    style="display: inline;">钉钉</div>
                <div class="card-desc">智能移动办公平台，由阿里巴巴集团开发，免费提供给所有中国企业，用于商务沟通和工作协同。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://tower.im/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/7c2cad53399eca04.png" src="http://webjike.com/upload/images/2018/4/7c2cad53399eca04.png"
                    style="display: inline;">Tower</div>
                <div class="card-desc">深受用户喜爱的团队协作工具，七十万团队、七百万人正在高效率地使用 Tower 进行协作。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.tapd.cn/home/index" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d19425b3892cb074.png" src="http://webjike.com/upload/images/2018/4/d19425b3892cb074.png"
                    style="display: inline;">TAPD</div>
                <div class="card-desc">TAPD是腾讯敏捷产品研发平台，帮助产品团队以敏捷研发方式，更好更快完成项目。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://co.youdao.com/index.html" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/70b3ec6d26931080.jpg" src="http://webjike.com/upload/images/2018/4/70b3ec6d26931080.jpg"
                    style="display: inline;">有道云协作</div>
                <div class="card-desc">网易推出的基于资料管理和项目推进的团队协同办公工具，管理项目进度，共享工作资料等。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-6">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-envelope"></i>电子邮箱</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://mail.qq.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1efabc839bf5f413.jpg" src="http://webjike.com/upload/images/2018/4/1efabc839bf5f413.jpg"
                    style="display: inline;">QQ邮箱</div>
                <div class="card-desc">QQ邮箱是腾讯公司2002年推出，向用户提供安全、稳定、快速、便捷电子邮件服务的邮箱产品。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://email.163.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/dc23029d1fd51122.jpg" src="http://webjike.com/upload/images/2018/4/dc23029d1fd51122.jpg"
                    style="display: inline;">163邮箱</div>
                <div class="card-desc">中国最大的电子邮件服务商，目前已拥有超过2.3亿的用户，是全球使用人数最多的中文邮箱。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://mail.aliyun.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/af1b1da5a75b9462.jpg" src="http://webjike.com/upload/images/2018/4/af1b1da5a75b9462.jpg"
                    style="display: inline;">阿里云邮箱</div>
                <div class="card-desc">阿里云推出的邮件服务，支持个人和企业两种版本，口碑不是很好。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://mail.sina.com.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1a14f28b694adbf6.jpg" src="http://webjike.com/upload/images/2018/4/1a14f28b694adbf6.jpg"
                    style="display: inline;">新浪邮箱</div>
                <div class="card-desc">新浪网推出向用户提供安全、稳定、快速、便捷电子邮件服务的邮箱产品。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://mail.google.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/af4d2d0442515447.jpg" src="http://webjike.com/upload/images/2018/4/af4d2d0442515447.jpg"
                    style="display: inline;">Gmail</div>
                <div class="card-desc">Google推出的免费网络邮件服务，是一款直观、高效、实用的电子邮件应用。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://outlook.live.com/owa/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6ca49b560c7d583.jpg" src="http://webjike.com/upload/images/2018/4/6ca49b560c7d583.jpg"
                    style="display: inline;">Outlook</div>
                <div class="card-desc">微软推出的免费网络邮件服务，Outlook是微软办公软件套装的组件之一。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://mail.yahoo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/83ceeb00c3bb0845.jpg" src="http://webjike.com/upload/images/2018/4/83ceeb00c3bb0845.jpg"
                    style="display: inline;">Yahoo Mail</div>
                <div class="card-desc">雅虎邮箱是雅虎公司推出的一项电子邮件服务工具，雅虎是全球最早从事电子邮件服务的互联网企业之一。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-7">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-book"></i>文案策划</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.eqxiu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/e32e531d4c3245d0.jpg" src="http://webjike.com/upload/images/2018/4/e32e531d4c3245d0.jpg"
                    style="display: inline;">易企秀</div>
                <div class="card-desc">国内最火的H5场景应用制作工具，一款制作和展示各类复杂营销方案的平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://maka.im/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2541d1828fcfbc27.jpg" src="http://webjike.com/upload/images/2018/4/2541d1828fcfbc27.jpg"
                    style="display: inline;">MAKA</div>
                <div class="card-desc">简单、强大的免费H5页面、微场景、微信海报制作平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.ih5.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2510d7dbacd714d7.jpg" src="http://webjike.com/upload/images/2018/4/2510d7dbacd714d7.jpg"
                    style="display: inline;">iH5</div>
                <div class="card-desc">最专业的H5制作工具，原为VXPLO互动大师，是一套完全自主研发的设计工具。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.baomitu.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/bd04dc6bd9a5b3eb.png" src="http://webjike.com/upload/images/2018/4/bd04dc6bd9a5b3eb.png"
                    style="display: inline;">爆米兔</div>
                <div class="card-desc">是一个小而美的H5创意平台，通过简单可视化操作即可进行HTML5宣传页面制作。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.mugeda.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/501277ad4e097db0.jpg" src="http://webjike.com/upload/images/2018/4/501277ad4e097db0.jpg"
                    style="display: inline;">Mugeda</div>
                <div class="card-desc">专业级HTML5交互动画内容制作云平台，拥有业界最为强大的动画编辑能力和最为自由的创作空间。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.zhichiwangluo.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2eabfc9a21b41ea4.jpg" src="http://webjike.com/upload/images/2018/4/2eabfc9a21b41ea4.jpg"
                    style="display: inline;">咫尺微页</div>
                <div class="card-desc">H5页面制作工具，可以在微信应用号或微信公众号推广中向用户展示有声有色的微场景。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.liveapp.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f83353f010885b9.png" src="http://webjike.com/upload/images/2018/4/f83353f010885b9.png"
                    style="display: inline;">云来</div>
                <div class="card-desc">H5页面制作工具，简单、强大的免费H5创作工具，移动场景应用平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://chuye.cloud7.com.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/254d31a203ee5a6e.png" src="http://webjike.com/upload/images/2018/4/254d31a203ee5a6e.png"
                    style="display: inline;">初页</div>
                <div class="card-desc">最潮的音乐照片情感故事记录/表达工具，它的提供的免费模板比较丰富。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.chuangkit.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/f7f8854a2971001b.jpg" src="http://webjike.com/upload/images/2018/4/f7f8854a2971001b.jpg"
                    style="display: inline;">创客贴</div>
                <div class="card-desc">一款在线平面设计工具，在线PS,免费设计模板包含海报、名片、PPT、简历等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://t.pp.cc/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/aa13bccbb936dedf.jpg" src="http://webjike.com/upload/images/2018/4/aa13bccbb936dedf.jpg"
                    style="display: inline;">皮皮时光机</div>
                <div class="card-desc">对新浪微博开发的第三方微博管理应用工具，涉及的内容很多，包括文案策划与撰写等。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="row-7">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-file-word-o"></i>文档模板</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://office.mmais.com.cn/Template/Home.shtml" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b00a052ea5a983c0.jpg" src="http://webjike.com/upload/images/2018/4/b00a052ea5a983c0.jpg"
                    style="display: inline;">OfficePLUS</div>
                <div class="card-desc">微软Office官方在线模板网站，提供各类精品PPT模板、Word、Excel文档和图片素材等资源。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://slidemodel.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/993ee9d0b8ccfda2.png" src="http://webjike.com/upload/images/2018/4/993ee9d0b8ccfda2.png"
                    style="display: inline;">SlideModel</div>
                <div class="card-desc">免费幻灯片模版资源网，提供了超过了12000个完全可编辑的幻灯片设计模版。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.presentationmagazine.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/7ce3353a9ba320ca.png" src="http://webjike.com/upload/images/2018/4/7ce3353a9ba320ca.png"
                    style="display: inline;">Presentation Magazine</div>
                <div class="card-desc">一个提供海量免费的PPT模版和背景的网站，目前已经收录了44934种免费的模版。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://slidehunter.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1e90b6910c46cb4b.png" src="http://webjike.com/upload/images/2018/4/1e90b6910c46cb4b.png"
                    style="display: inline;">Slidehunter</div>
                <div class="card-desc">4000个完全免费ppt模板网站，,不管你做什么工作，都能在网站中找到相应的 PPT 模板。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.docer.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2bf4653934404f54.png" src="http://webjike.com/upload/images/2018/4/2bf4653934404f54.png"
                    style="display: inline;">Docer稻壳儿</div>
                <div class="card-desc">里面有很多的设计师作品，超过500万个精品模板，而且很多都是免费的。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.ypppt.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/d726997088743d98.png" src="http://webjike.com/upload/images/2018/4/d726997088743d98.png"
                    style="display: inline;">优品PPT</div>
                <div class="card-desc">一个有情怀的免费PPT模板下载网站！各种PPT模板、素材、教程资源，不用登录直接下载。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.51pptmoban.com/ppt/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a0e809451ad79b23.gif" src="http://webjike.com/upload/images/2018/4/a0e809451ad79b23.gif"
                    style="display: inline;">51PPT模版网</div>
                <div class="card-desc">PPT模板免费下载站点，里面的模板质量也是挺不错的，还有很多教程，而且还是免费的。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.pptmind.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/1f088ba302588c2f.png" src="http://webjike.com/upload/images/2018/4/1f088ba302588c2f.png"
                    style="display: inline;">PPTMIND</div>
                <div class="card-desc">一个分享高端ppt模板与keynote模板的数字作品交易平台，旨在为商务人士提供专业的高端ppt模板。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.pooban.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a280ef08e9c5137d.png" src="http://webjike.com/upload/images/2018/4/a280ef08e9c5137d.png"
                    style="display: inline;">扑奔网</div>
                <div class="card-desc">一个ppt模板、职场办公文档、简历模板、项目策划等高质量Office文档资源在线分享平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.tretars.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/9c35cecbda17831e.png" src="http://webjike.com/upload/images/2018/4/9c35cecbda17831e.png"
                    style="display: inline;">逼格PPT</div>
                <div class="card-desc">一个关于PPT的分享博客网站，里面的作品都是博主自己做的，质量还可以，但产能毕竟有限。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.pptfans.cn/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/ed89cb4f1fe09034.jpg" src="http://webjike.com/upload/images/2018/4/ed89cb4f1fe09034.jpg"
                    style="display: inline;">PPT设计教程网</div>
                <div class="card-desc">高质量的PPT教程和PPT模板下载网站，提供了海量免费PPT模板资源下载。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="item card-box" id="fa-desktop">
      <div class="container-fluid">
        <div class="row">
          <div class="item-tit">
            <strong><i class="fa fa-desktop"></i>工作兼职</strong>
          </div>
          <!--获取内容列表-->
          <div class="clearfix ">

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.nashangban.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/51b866cb7407d832.png" src="http://webjike.com/upload/images/2018/4/51b866cb7407d832.png"
                    style="display: inline;">哪上班</div>
                <div class="card-desc">哪上班招聘网是专注优质互联网招聘平台，高薪工作、企业直招、公司内推、内部推荐直接面试。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.liepin.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/58b4a03489b4dd5a.jpg" src="http://webjike.com/upload/images/2018/4/58b4a03489b4dd5a.jpg"
                    style="display: inline;">猎聘网</div>
                <div class="card-desc">猎聘网于2011年上线，是国内唯一真正实现企业、猎头和职业经理人三方互动的职业发展平台。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.zhaopin.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/7f6016bc972ef9be.jpg" src="http://webjike.com/upload/images/2018/4/7f6016bc972ef9be.jpg"
                    style="display: inline;">智联招聘</div>
                <div class="card-desc">智联招聘创建于1997年，是一家面向大型公司和快速发展的中小企业提供一站式专业人力资源服务，包括网络招聘等。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.51job.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/b9f0943eb841dafe.jpg" src="http://webjike.com/upload/images/2018/4/b9f0943eb841dafe.jpg"
                    style="display: inline;">前程无忧</div>
                <div class="card-desc">前程无忧(Nasdaq: JOBS)是国内一个集多种媒介资源优势的专业人力资源服务机构，创始人为甄荣辉。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.chinahr.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/904561315addcef2.jpg" src="http://webjike.com/upload/images/2018/4/904561315addcef2.jpg"
                    style="display: inline;">中华英才网</div>
                <div class="card-desc">中华英才网成立于1997年，是国内最早、最专业的人才招聘网站之一，其品牌和服务已被个人求职者和企业人力资源部门普遍认可。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.dajie.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/2cc314c63a3c922.jpg" src="http://webjike.com/upload/images/2018/4/2cc314c63a3c922.jpg"
                    style="display: inline;">大街网</div>
                <div class="card-desc">大街网创立于2008年底，是一家真正专属于年轻人的移动社交招聘平台，为年轻职场人匹配最佳工作机会。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="https://www.kanzhun.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a1c5fcb59a065b4e.jpg" src="http://webjike.com/upload/images/2018/4/a1c5fcb59a065b4e.jpg"
                    style="display: inline;">看准网</div>
                <div class="card-desc">看准网（Kanzhun）是中国雇主点评与职场信息平台，网站成立于2013年12月，2016年上线看准APP。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.wealink.com/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/a1b81d19aaa2868e.jpg" src="http://webjike.com/upload/images/2018/4/a1b81d19aaa2868e.jpg"
                    style="display: inline;">若邻网</div>
                <div class="card-desc">若邻网拥有数百万高端职业人士会员，且保持高速增长，是目前全球最大的中文商务社交网。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.ganji.com/zhaopin/" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/3e1cf10d8e2e99ca.jpg" src="http://webjike.com/upload/images/2018/4/3e1cf10d8e2e99ca.jpg"
                    style="display: inline;">赶集网</div>
                <div class="card-desc">赶集网成立于2005年，是专业的分类信息网，为用户提供房屋租售、招聘求职、交友等众多本地生活及商务服务。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.58.com/changecity.html?" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/4c6f676329a1abe0.jpg" src="http://webjike.com/upload/images/2018/4/4c6f676329a1abe0.jpg"
                    style="display: inline;">58同城招聘</div>
                <div class="card-desc">58同城成立于2005年，网站定位于本地社区及免费分类信息服务，帮助人们解决生活和工作所遇到的难题。</div>
              </a>
            </div>

            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="http://www.job5156.com" class="card-link" target="_blank">
                <div class="card-tit"><img data-original="/upload/images/2018/4/6894e26f1f7d7b9e.jpg" src="http://webjike.com/upload/images/2018/4/6894e26f1f7d7b9e.jpg"
                    style="display: inline;">智通人才网</div>
                <div class="card-desc">智通人才网提供“线上+线下”O2O招聘模式，为企业提供网络招聘、招聘会、校园招聘，致力于实现企业和人才的高效对接。</div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </section>

  </div>
  <!--页脚-->
</div>