<section class="header-box">
  <header>

    <div class="main">
      <h1 class="logo">
        <a href="/index.html">
          <img src="https://bbs.damoxueyuan.com/view/img/logo.png">
          <span class="d-red">达</span><span class="d-yellow">魔</span><span class="d-blue">导</span><span class="d-green">航</span>
        </a>
      </h1>
      <a href="javascript:;" title="关闭菜单" class="left-menu-btn visible-md visible-lg" data-status="true"><i class="fa fa-navicon"></i></a>
      <nav class="nav">
        <ul>
          <!--获取导航链接/从首页向下第一个栏目起/只显示nav栏目组-->

          <li><a href="https://www.damoxueyuan.com">达魔官网</a></li>
          <li><a href="#/biji"  class="active">达魔笔记</a></li>
          <li><a href="https://bbs.damoxueyuan.com">达魔面试院</a></li>
          <li><a href="https://edaxiang.ke.qq.com/">腾讯云课堂</a></li>
          <li><a href="https://study.163.com/provider/400000000588017/index.htm">网易云课堂</a></li>
          <li><a href="https://edaxiang.ke.qq.com/#category=-1&tab=3">关于我们</a></li>
        </ul>
      </nav>
      <div class="head-btn visible-lg">
        <a href="javascript:;" class="sethome" data-toggle="tooltip" data-placement="bottom" title="" onclick="setHome(this,window.location);"
          data-original-title="设为首页"><i class="fa fa-home"></i></a>
        <a href="javascript:;" class="customize" data-toggle="tooltip" data-placement="bottom" title=""
          data-original-title="自定义模式"><i class="fa fa-cog"></i></a>
        <a href="javascript:;" class="theme" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="更换主题"><i
            class="fa fa-image"></i></a>
        <a href="/v1/index.html" target="_blank" data-toggle="tooltip" data-placement="bottom" title=""
          data-original-title="切回旧版"><i class="fa fa-refresh"></i></a>
        <a href="javascript:;" id="submit_URL" data-toggle="tooltip" data-placement="bottom" title=""
          data-original-title="网址提交"><i class="fa fa-pencil-square-o"></i></a>
      </div>
      <button class="bar-btn visible-xs visible-sm">
        <span class="icon-bar bar-line1"></span>
        <span class="icon-bar bar-line2"></span>
      </button>
      <button class="nav-btn visible-xs visible-sm">
        <span class="icon-line top"></span>
        <span class="icon-line middle"></span>
        <span class="icon-line bottom"></span>
      </button>
    </div>

  </header>
</section>
